@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400..700&display=swap');
@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    --clr-primary: hsl(300, 43%, 22%);
    --clr-secondary: hsl(333, 80%, 67%);
    --clr-darkGrayish-Magenta:  hsl(303, 10%, 53%);
    --clr-lightGrayish-Magenta: hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    /* fonts */
    --ff-primary: 'League Spartan', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    /* font-size: 15px; */
}

/* typography */
html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    height: 100%;
}

body {
    /* It returns default value of browser (16px) */
    font-size: 1.6em;
    min-height: 100%;
}

p {
    line-height: 1.5;
}

/* typography end */

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------Mobile layout-------------------------*/
 
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'title_card'
        'customers_rating_board'
        'customers_reviews'
        'attribution';
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-position: left top, right bottom;  
    background-repeat: no-repeat, no-repeat;
    min-width: 37.5rem;
    justify-items: center;
}

/* style 1st component - mobile */
.title_card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'title_heading'
        'title_description';
    gap: 1.5rem;
    justify-items: center;
    margin-bottom: 2rem;
    width: 75%;
}

.title_heading {
    font-size: 2rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary);
    text-align: center;
    width: 85%;
    margin-top: 4rem;
}

.title_description {
    font-size: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-darkGrayish-Magenta);
    text-align: center;
    width: 85%;
}

/* style 2nd component - mobile */
.customers_rating_board {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'customer_rating_card_a'
        'customer_rating_card_b'
        'customer_rating_card_c';
    gap: 1rem;
    width: 75%;
    text-align: center;
    justify-items: center;
}

/*--------------------------------------------------------*/
.customer_rating_card_a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'customer_rating_value_a'
        'customer_rating_description_reviews';
    gap: 0.8rem;
    width: 85%;
    justify-items: center;
    background-color: var(--clr-lightGrayish-Magenta);
    border-radius: 0.8rem;
}

.customer_rating_value_a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'star_icon1 star_icon2 star_icon3 star_icon4 star_icon5';
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.customer_rating_description_reviews {
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary);
}

/*---------------------------------------------*/
.customer_rating_card_b {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'customer_rating_value_b'
        'customer_rating_description_reportGuru';
    gap: 0.8rem;
    width: 85%;
    justify-items: center;
    background-color: var(--clr-lightGrayish-Magenta);
    border-radius: 0.8rem;
}

.customer_rating_value_b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'star_icon1 star_icon2 star_icon3 star_icon4 star_icon5';
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.customer_rating_description_reportGuru {
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary);
}

/*---------------------------------------*/
.customer_rating_card_c {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'customer_rating_value_c'
        'customer_rating_description_bestTech';
    gap: 0.8rem;
    width: 85%;
    justify-items: center;
    background-color: var(--clr-lightGrayish-Magenta);
    border-radius: 0.8rem;
}

.customer_rating_value_c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'star_icon1 star_icon2 star_icon3 star_icon4 star_icon5';
    gap: 0.5rem;
    margin-top: 0.8rem;
}

.customer_rating_description_bestTech{
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    color: var(--clr-primary);
}

/* style 3rd component - mobile */
.customers_reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'customer_review_colton'
        'customer_review_irene'
        'customer_review_anne';
    gap: 1rem;
    margin-top: 4rem;
    justify-items: center;
    width: 75%;
}

/*----------------------------------------------*/
.customer_review_colton {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas:
        'customer_review_colton_img customer_review_colton_name'
        'customer_review_colton_img customer_review_colton_type'
        'customer_review_colton_review customer_review_colton_review';
    gap: 0.3rem;
    border-radius: 0.8rem;
    background-color: var(--clr-primary);
    width: 85%;
    padding: 2rem;
}

.customer_review_colton_img {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'colton';  
}

.colton {
    border-radius: 50%;
    width: 7rem;
    margin: 2rem 0rem 2rem 0rem;
}

.customer_review_colton_name {
    font-size: 1.5rem;
    font-weight: var(--fw-500);
    color: var(--clr-white);
    align-self: end;
    justify-self: start;
    margin-left: 0.5rem;
    width: 100%;
}

.customer_review_colton_type {
    font-size: 1.5rem;
    font-weight: var(--fw-500);
    color: var(--clr-secondary);
    align-self: start;
    justify-self: start;
    margin-left: 0.5rem;
    width: 100%;
}

.customer_review_colton_review {
    grid-column: 1/3;
    font-size: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-white);
    width: 100%;
    line-height: 1.3;
}

/*----------------------------------------*/
.customer_review_irene {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas:
        'customer_review_irene_img customer_review_irene_name'
        'customer_review_irene_img customer_review_irene_type'
        'customer_review_irene_review customer_review_irene_review';
    gap: 0.3rem;
    border-radius: 0.8rem;
    background-color: var(--clr-primary);
    width: 85%;
    padding: 2rem;
}

.customer_review_irene_img {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'irene';  
}

.irene {
    border-radius: 50%;
    width: 7rem;
    margin: 2rem 0rem 2rem 0rem;
}

.customer_review_irene_name {
    font-size: 1.5rem;
    font-weight: var(--fw-500);
    color: var(--clr-white);
    align-self: end;
    justify-self: start;
    margin-left: 0.5rem;
    margin-bottom: -0.7rem;
    width: 100%;
}

.customer_review_irene_type {
    font-size: 1.5rem;
    font-weight: var(--fw-500);
    color: var(--clr-secondary);
    align-self: start;
    justify-self: start;
    margin-left: 0.5rem;
    width: 100%;
}

.customer_review_irene_review {
    grid-column: 1/3;
    font-size: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-white);
    width: 100%;
    line-height: 1.3;
}

/*-------------------------------------------------*/
.customer_review_anne {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas:
        'customer_review_anne_img customer_review_anne_name'
        'customer_review_anne_img customer_review_anne_type'
        'customer_review_anne_review customer_review_anne_review';
    gap: 0.3rem;
    border-radius: 0.8rem;
    background-color: var(--clr-primary);
    width: 85%;
    padding: 2rem;
}

.customer_review_anne_img {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'anne';  
}

.anne {
    border-radius: 50%;
    width: 7rem;
    margin: 2rem 0rem 2rem 0rem;
}

.customer_review_anne_name {
    font-size: 1.5rem;
    font-weight: var(--fw-500);
    color: var(--clr-white);
    align-self: end;
    justify-self: start;
    margin-left: 0.5rem;
    margin-bottom: -0.7rem;
    width: 100%;
}

.customer_review_anne_type {
    font-size: 1.5rem;
    font-weight: var(--fw-500);
    color: var(--clr-secondary);
    align-self: start;
    justify-self: start;
    margin-left: 0.5rem;
    width: 100%;
}

.customer_review_anne_review {
    grid-column: 1/3;
    font-size: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-white);
    width: 100%;
    line-height: 1.3;
}

/* style 4th component - mobile */
/* 4th component is styled in external stylesheet */

@media screen and (max-width: 17.5rem) {
    .grid-container {
        margin-left: 5rem;
    }
}   

/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'title_card customers_rating_board'
            'customers_reviews customers_reviews'
            'attribution attribution';
        gap: 1.5rem;
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-position: left top, right bottom;  
        background-repeat: no-repeat, no-repeat;
    }

/* style 1st component - desktop */    
    .title_card {
        width: 80%;
        gap: 2rem;
        margin-top: 7rem;
        padding: 0;
    }   

    .title_heading {
        text-align: left;
        margin: 0 0 0 10rem;
        width: 60%;
        font-size: 5.5rem;
        justify-self: start;
    }

    .title_description {
        text-align: left;
        margin: 0 0 0 10rem;
        width: 60%;
        font-size: 1.8rem;
        justify-self: start;       
    }

/* style 2nd component - desktop */
    .customers_rating_board {
       width: 80%;
       gap: 2rem;
       justify-self: start;
       margin: 7rem 15rem 0 0;
    }

    .customer_rating_card_a {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'customer_rating_value_a customer_rating_description_reviews';
        gap: 0.5rem;
        padding-right: 1rem;
        width: 70%;
        justify-self: start;
    }

    .customer_rating_value_a {
        margin: 0 0 0 3rem;
        justify-self: start;
        align-self: center;
    }

    .customer_rating_description_reviews {
        justify-self: start;
        align-self: center;
    }

    .customer_rating_card_b {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'customer_rating_value_b customer_rating_description_reportGuru';
        gap: 0.5rem;
        width: 70%;
        padding-right: 1rem;
        justify-self: center;
    }

    .customer_rating_value_b {
        margin: 0 0 0 3rem;
        justify-self: start;
        align-self: center;
    }

    .customer_rating_description_reportGuru {
        justify-self: start;
        align-self: center;
    }

    .customer_rating_card_c {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'customer_rating_value_c customer_rating_description_bestTech';
        gap: 0.5rem;
        width: 70%;
        padding-right: 1rem;
        justify-self: end;
    }

    .customer_rating_value_c {
        margin: 0 0 0 3rem;
        justify-self: start;
        align-self: center;
    }

    .customer_rating_description_bestTech {
        justify-self: start;
        align-self: center;
    }


/* style 3rd component - desktop */
    .customers_reviews {
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-areas:
           'customer_review_colton customer_review_irene customer_review_anne';
        gap: 4rem;
        width: 90%;
        margin-bottom: -2rem;
   }  
   
   .customer_review_colton {
    margin: 0 0 5rem 10rem;
    align-self: start;
   }

   .customer_review_irene {
    align-self: center;
   }

   .customer_review_anne {
    margin: 0 10rem 0 0;
    align-self: end;
   }

/* style 4th component - desktop */
/* 4th component is styled in external stylesheet */

}   

/*------------------grid area names---------------------------*/

.title_card {
    grid-area: title_card;
}

.title_heading {
    grid-area: title_heading;
}

.title_description {
    grid-area: title_description;
}

.customers_rating_board {
    grid-area: customers_rating_board;
}

.customer_rating_card_a {
    grid-area: customer_rating_card_a;
}

.customer_rating_value_a {
    grid-area: customer_rating_value_a;
}

.customer_rating_description_reviews {
    grid-area: customer_rating_description_reviews;
}

.star_icon1 {
    grid-area: star_icon1;
}

.star_icon2 {
    grid-area: star_icon2;
}

.star_icon3 {
    grid-area: star_icon3;
}

.star_icon4 {
    grid-area: star_icon4;
}

.star_icon5 {
    grid-area: star_icon5;
}

.customer_rating_card_b {
    grid-area: customer_rating_card_b;
}

.customer_rating_value_b {
    grid-area: customer_rating_value_b;
}

.customer_rating_description_reportGuru {
    grid-area: customer_rating_description_reportGuru;
}

.customer_rating_card_c {
    grid-area: customer_rating_card_c;
}

.customer_rating_value_c {
    grid-area: customer_rating_value_c;
}

.customer_rating_description_bestTech {
    grid-area: customer_rating_description_bestTech;
}

.customers_reviews {
    grid-area: customers_reviews;
}

.customer_review_colton {
    grid-area: customer_review_colton;
}

.customer_review_colton_img {
    grid-area: customer_review_colton_img;
}

.colton {
    grid-area: colton;
}

.customer_review_colton_name {
    grid-area: customer_review_colton_name;
}

.customer_review_colton_type {
    grid-area: customer_review_colton_type;
}

.customer_review_colton_review {
    grid-area: customer_review_colton_review;
}

.customer_review_irene {
    grid-area: customer_review_irene;
}

.customer_review_irene_img {
    grid-area: customer_review_irene_img;
}

.irene {
    grid-area: irene;
}

.customer_review_irene_name {
    grid-area: customer_review_irene_name;
}

.customer_review_irene_type {
    grid-area: customer_review_irene_type;
}

.customer_review_irene_review {
    grid-area: customer_review_irene_review;
}

.customer_review_anne {
    grid-area: customer_review_anne;
}

.customer_review_anne_img {
    grid-area: customer_review_anne_img;
}

.anne {
    grid-area: anne;
}

.customer_review_anne_name {
    grid-area: customer_review_anne_name;
}

.customer_review_anne_type {
    grid-area: customer_review_anne_type;
}

.customer_review_anne_review {
    grid-area: customer_review_anne_review;
}


.attribution {
    grid-area: attribution;
}


     